In [1]:
import pandas as pd

In [3]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [2]:
# Read Excel with parameters (adjust based on your data structure)
df = pd.read_excel(
    'finance.xlsx',
    sheet_name='Sheet1',      # Specify sheet
    skiprows=3,               # Skip initial empty rows
    usecols='A:I',            # Select relevant columns 
    header=0                  # Use the first row as headers
)

In [3]:
# Drop columns with all NaN values
df = df.dropna(axis=1, how='all')

In [4]:
df.to_csv('finance.csv', index=False, encoding='utf-8')

In [5]:
df1 = pd.read_csv('finance.csv')

In [6]:
df1.head()

,Date,Company,Total_Revenue,Net_Income,Total_Assets,Total_Liabilities,Cash_Flow_Operating_Activities,Filing_Type
0,2024-09-30,Microsoft,65585,24667,523013,115200,34180,Q-10
1,2024-06-30,Microsoft,245122,88136,512163,243686,118548,K-10
2,2024-03-31,Microsoft,61858,21939,484275,231123,31917,Q-10
3,2023-12-31,Microsoft,62020,21870,470558,232290,18853,Q-10
4,2023-09-30,Microsoft,56517,22291,445785,225071,30583,Q-10